#friends-gallery{
    scrollbar-width: thin;
    scrollbar-color: dark;
}
#friends-gallery::-webkit-scrollbar {
    width: 5px;
    height: 30px;
}
#friends-gallery::-webkit-scrollbar-thumb {
    background: #3e7cb0;
}