.center-block {
    display: flex;
    justify-content: center;
}

.info-block {
    text-align: center;
    width: 50%;
    padding: 20px;
    border-radius: 7px;
    background-color: rgba(188, 198, 214, 0.8);
    -webkit-box-shadow: 0px 2px 72px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 72px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 72px 5px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.reg-button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}
.main-page-body {
    opacity: 0.7;
    height: 100vh;
    background-size: cover
}
@media (max-width: 1000px) {
    .info-block {
        width: 90%;
    }
    .main-page-body {
        height: 100%;
        padding-bottom: 20px;
    }
}