.auth-content{
    display: flex;
    justify-content: center;
}
.auth-form{
    width: 400px;
    margin-top: 100px;
    background-color: #d5e4ed;
    padding: 10px 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration-message {
    color: red;
    font-size: 1.0em;
    text-align: center;
}
@media (max-width: 1000px) {
    .auth-form {
        width: 300px;
        margin-top: 0;
        padding: 10px 10px;
    }
    .auth-content{
        align-items: center;
    }
    .registration-message{
        font-size: 0.8em;
    }
}