.curr-gallery-photo {
    object-fit: cover;
    width: 300px;
    height: 300px;
    min-width: 300px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 20px;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1000px) {
    .curr-gallery-photo {
        width: 100px;
        height: 100px;
        min-width: 100px;
    }
}