html{
    background-color: #d5dde6;
}
.center-cropped {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media (max-width: 1000px) {
    .desktop {
        display: none !important;
    }
}
@media (min-width: 1001px) {
    .mobile {
        display: none !important;
    }
}
